
.vs-input--input.xlarge{padding:1.3rem; font-size:28px}.vs-input--input.xlarge+.vs-placeholder-label-xlarge{padding:1 .6rem; font-size:28px}
.vs-input--placeholder.xlarge{padding-left:.55rem; font-size:20px}
.vuesax-app-is-ltr .vs-input--input.xlarge+.vs-placeholder-label, .vuesax-app-is-ltr .vs-input--input:focus+.vs-placeholder-label{font-size: 20px}
.vuesax-app-is-ltr .vs-input--label {font-size: 20px;}
.vuesax-app-is-ltr .vs-select--input {padding:1.3rem; font-size:20px}
.vs-select--item {font-size:20px}
.vuesax-app-is-ltr .vs-select--label {font-size: 20px;}
.vs-textarea {height:150px; font-size:1.5rem !important;}
.vs-con-textarea h4 {font-size: 1rem !important;}
.vs-input--icon, .vs-icon {height: 60px !important;width: 80px !important;font-size: 70px !important}
.vs-button-flat:hover{background: transparent !important;}